---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Despre mine"
	description="Nimic important"
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Test
	</p>

</Layout>
